
html, body, #root, #root>div {
  height: 100%;
  margin: 0;
  background-color:#0d0c0b;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;

  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;

  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .game-info{
    color: #49b3ba;
    margin-bottom: 100px;
  }

  .square {
    background: #fff;
    color: #3f7fba;
    border: 1.5px solid #49b3ba;
    float: left;
    font-size: 45px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  

  @media (max-width:1080px){
    html, body, #root, #root>div {
      height: 100%;
      margin: 0;
      background-color:#0d0c0b;
    }
    
    body {
        font: 14px "Century Gothic", Futura, sans-serif;
    
      }
      
      ol, ul {
        padding-left: 30px;
      }
      
      .board-row:after {
        clear: both;
        content: "";
        display: table;
    
      }
      
      .status {
        margin-bottom: 10px;
      }
      
      .game-info{
        color: #49b3ba;
        margin-bottom: 100px;
      }
    
      .square {
        background: #fff;
        color: #3f7fba;
        border: 1.5px solid #49b3ba;
        float: left;
        font-size: 45px;
        font-weight: bold;
        line-height: 34px;
        height: 50px;
        margin-right: -1px;
        margin-top: -1px;
        padding: 0;
        text-align: center;
        width: 50px;
      }
      
      .square:focus {
        outline: none;
      }
      
      .kbd-navigation .square:focus {
        background: #ddd;
      }
      
      .game {
        display: flex;
        flex-direction: row;
      }
      
      .game-info {
        margin-left: 20px;
      }
  }